
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

@using (Html.BeginForm("Index", "Branch"))
{
    <input type="submit" value="Branch">
}

@using (Html.BeginForm("Index", "Owner"))
{
    <input type="submit" value="Owner">
}

@using (Html.BeginForm("Index", "Staff"))
{
    <input type="submit" value="Staff">
}

@using (Html.BeginForm("Index", "Rent"))
{
    <input type="submit" value="Rent">
}


