
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<button>
    @Html.ActionLink("Branch", "Index", "Branch")
</button>
<button>
    @Html.ActionLink("Owner", "Index", "Owner")
</button>
<button>
    @Html.ActionLink("Staff", "Index", "Staff")
</button>
<button>
    @Html.ActionLink("Rent", "Index", "Rent")
</button>


